$kt-advancedheading-mark-color: $color-theme !default;

.wp-block-kadence-advancedheading mark {
    color: $kt-advancedheading-mark-color;
    background: transparent;
    border-style: solid;
    border-width: 0;
}
