.has-very-light-gray-color {
    color: map-get($pallet-gray, 100);
}

.has-very-light-gray-background-color {
    background-color: map-get($pallet-gray, 100);
}

.has-very-dark-gray-color {
    color: map-get($pallet-gray, 800);
}

.has-very-dark-gray-background-color {
    background-color: map-get($pallet-gray, 800);
}
