.CodeMirror {
    /* Set height, width, borders, and global font properties here */
    font-family: monospace;
    height: 300px;
  }
  .CodeMirror-scroll {
    /* Set scrolling behaviour here */
    overflow: auto;
  }
