
.kt-blocks-carousel .slick-dots li button:before {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    outline: none;
    border-radius: 50%;
    background-color: #000;
    opacity: .25;
    text-indent: -999em;
    cursor: pointer;
    position: absolute;
    content: "";
}
