@import "helper";

// Layout
@import "buttons";
@import "spacer";
@import "row/index";

// blocks
@import "socials";
@import "infobox";

// Js Blocks
@import "tabs/module";
@import "testimonials";
@import "advanced-gallery/module";

@media ($sm-max) {
    .wp-block-kadence-advancedheading {
        word-wrap: break-word;
        hyphens: auto;
    }
}

// Kadence Row alignment
.wp-block-kadence-rowlayout {
    &.column-fill {
        .wp-block-kadence-column {
            display: flex;
            flex-direction: column;
            justify-content: stretch;
        }

        .kt-inside-inner-col {
            flex: 1 1 auto;
        }
    }
}

.kt-inside-inner-col {
    .center-content & {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    @media ($md-min) {
        .max-content & {
            max-width: 600px;
        }

        .push-right & {
            margin-left: auto;
        }

        .push-left & {
            margin-right: auto;
        }
    }
}
