// extends socials class

.socials {
    &.kt-socials {
        @media ($md-min) {
            flex-direction: column;
        }
    }

    .kt-svg-icon-link {
        display: block;
    }

    .kt-svg-icon {
        transition: transform 0.1s linear;
    }

    a:hover {
        .kt-svg-icon {
            transform: scale(1.1);
        }
    }
}
