.wp-block-cover,
.wp-block-cover-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 430px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #000 center/cover no-repeat;
    overflow: hidden;

    &.has-background-dim::before {
        content: "";
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: inherit;
        opacity: .5;
    }

    .wp-block-cover__inner-container {
        z-index: 1;
        width: calc(100% - 70px);
        color: map-get($pallet-gray, 50);
    }
}
