.wp-block-latest-posts {
    list-style-type: none;

    &.is-grid {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        list-style: none;

        li {
            margin: 0 16px 16px 0;
            width: 100%;
        }
    }
}

.wp-block-latest-posts__post-date {
    display: block;
    color: map-get($pallet-gray, 300);
    font-size: .8rem;
}

@media ($mq-min) {
    @for $i from 2 to 6 {
        .wp-block-latest-posts.columns-#{$i} li {
            width: calc((100% / #{$i}) - 16px);
        }
    }
}
