.wp-block-pullquote {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 3em;
    padding-bottom: 3em;
    border-top: 4px solid map-get($pallet-gray, 200);
    border-bottom: 4px solid map-get($pallet-gray, 200);
    color: map-get($pallet-gray, 600);
    text-align: center;

    blockquote {
        margin: 0 1rem;
        font-style: normal;
    }

    p {
        font-size: 2.5rem;
        line-height: 1.1;
    }

    cite,
    footer {
        color: map-get($pallet-gray, 600);
        font-size: .8rem;
        text-transform: uppercase;
    }
}

.wp-block-quote {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-style: normal;

    cite,
    footer {
        position: relative;
        margin-top: 1rem;
        color: rgba(black, .6);
        font-size: .8rem;
        font-style: normal;
    }

    &.is-style-large,
    &.is-large {
        margin: 0 0 2rem;
        padding: 0 1em;

        p {
            font-size: 3rem;
            font-style: italic;
            line-height: 1.5;
        }

        cite,
        footer {
            font-size: 1em;
            text-align: right;
        }
    }
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
    border-left: 4px solid currentColor;
    padding-left: 1em;
}
