$details-style-panel-padding: 0.3rem !default;
$details-style-panel-border: 1px solid currentColor !default;
$details-style-panel-icon: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path d="M10.293 3.293L6 7.586 1.707 3.293A1 1 0 00.293 4.707l5 5a1 1 0 001.414 0l5-5a1 1 0 10-1.414-1.414z" fill="currentColor"/></svg>') !default;
$details-style-panel-icon-size: 0.75em !default;
$details-style-panel-icon-gap: 0.25em !default;
$details-style-panel-focus-ring: inset 0 -1px 0 currentColor !default;

@keyframes detailsFadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

// *1: Fix for Chrome/Webkit child elements not inhereting the box-sizing.
// And being content-box again.
details {
    > *:not(summary) {
        box-sizing: border-box; // *1
    }

    summary {
        display: list-item;
    }
}

.wp-block-mooore-details {
    &.is-style-panel {
        $icon-size: $details-style-panel-icon-size;
        $icon-gap: $details-style-panel-icon-gap;
        display: block;

        summary {
            position: relative;
            display: list-item;
            padding: $details-style-panel-padding;
            padding-right: ($icon-size + $icon-gap);
            border-bottom: $details-style-panel-border;
            touch-action: manipulation;

            &::marker {
                content: "";
            }

            &::-webkit-details-marker {
                display: none;
            }

            &::before {
                content: "";
                position: absolute;
                top: calc(50% - #{($icon-size / 2)});
                right: $details-style-panel-padding;
                width: $icon-size;
                height: $icon-size;
                transform: rotate(-90deg);
                transition: transform 200ms ease-out;
                background: $details-style-panel-icon center/contain no-repeat;
                color: inherit;

                // Adds color support to the icon
                @supports (mask-image: url()) {
                    background: currentColor;
                    mask-image: $details-style-panel-icon;
                }
            }

            &:focus {
                outline: none;
                box-shadow: $details-style-panel-focus-ring;
            }
        }

        &[open] {
            > *:not(summary) {
                animation: detailsFadeInDown 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
            }

            summary::before {
                transform: none;
            }
        }
    }
}
