<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cms>
            <wordpress_integration>
                <magento_url_push_back>0</magento_url_push_back>
            </wordpress_integration>
        </cms>
    </default>
</config>
