// stylelint-disable

@media ($md-min) {
    .kt-row-layout-equal > .wp-block-kadence-column {
        flex: 1;
        width: 0;
    }

    .kt-row-layout-row {
        flex-direction: column;

        > .wp-block-kadence-column {
            flex: none;
            width: 100%;
            margin-right: 0;
        }

        &.kt-v-gutter-default > .wp-block-kadence-column {
            margin-bottom: 30px;
        }

        &.kt-v-gutter-skinny > .wp-block-kadence-column {
            margin-bottom: 10px;
        }

        &.kt-v-gutter-narrow > .wp-block-kadence-column {
            margin-bottom: 20px;
        }

        &.kt-v-gutter-wide > .wp-block-kadence-column {
            margin-bottom: 40px;
        }

        &.kt-v-gutter-wider > .wp-block-kadence-column {
            margin-bottom: 60px;
        }

        &.kt-v-gutter-widest > .wp-block-kadence-column {
            margin-bottom: 80px;
        }

        &:not(.kt-v-gutter-none) > .wp-block-kadence-column:last-child {
            margin-bottom: 0;
        }
    }

    .kt-gutter-default > .wp-block-kadence-column {
        margin-right: 30px;
    }

    .kt-gutter-skinny > .wp-block-kadence-column {
        margin-right: 10px;
    }

    .kt-gutter-narrow > .wp-block-kadence-column {
        margin-right: 20px;
    }

    .kt-gutter-wide > .wp-block-kadence-column {
        margin-right: 40px;
    }

    .kt-gutter-wider > .wp-block-kadence-column {
        margin-right: 60px;
    }

    .kt-gutter-widest > .wp-block-kadence-column {
        margin-right: 80px;
    }

    .kt-row-column-wrap:not(.kt-gutter-none) > .wp-block-kadence-column:last-child {
        margin-right: 0;
    }

    .kt-gutter-skinny {
        &.kt-row-layout-left-golden > .wp-block-kadence-column.inner-column-1 {
            flex-basis: 10px;
        }
        &.kt-row-layout-right-golden > .wp-block-kadence-column.inner-column-2 {
            flex-basis: 10px;
        }
    }

    .kt-gutter-narrow {
        &.kt-row-layout-left-golden > .wp-block-kadence-column.inner-column-1 {
            flex-basis: 20px;
        }
        &.kt-row-layout-right-golden > .wp-block-kadence-column.inner-column-2 {
            flex-basis: 20px;
        }
    }

    .kt-gutter-default {
        &.kt-row-layout-left-golden > .wp-block-kadence-column.inner-column-1 {
            flex-basis: 30px;
        }
        &.kt-row-layout-right-golden > .wp-block-kadence-column.inner-column-2 {
            flex-basis: 30px;
        }
    }

    .kt-gutter-wide {
        &.kt-row-layout-left-golden > .wp-block-kadence-column.inner-column-1 {
            flex-basis: 40px;
        }
        &.kt-row-layout-right-golden > .wp-block-kadence-column.inner-column-2 {
            flex-basis: 40px;
        }
    }

    .kt-gutter-wider {
        &.kt-row-layout-left-golden > .wp-block-kadence-column.inner-column-1 {
            flex-basis: 60px;
        }
        &.kt-row-layout-right-golden > .wp-block-kadence-column.inner-column-2 {
            flex-basis: 60px;
        }
    }

    .kt-gutter-widest {
        &.kt-row-layout-left-golden > .wp-block-kadence-column.inner-column-1 {
            flex-basis: 80px;
        }
        &.kt-row-layout-right-golden > .wp-block-kadence-column.inner-column-2 {
            flex-basis: 80px;
        }
    }

    // Two columns
    .kt-row-layout-left-golden {
        > .wp-block-kadence-column {
            &.inner-column-1 {
                flex: 2;
            }
            &.inner-column-2 {
                flex: 1;
            }
        }
    }
    .kt-row-layout-right-golden {
        > .wp-block-kadence-column {
            &.inner-column-1 {
                flex: 1;
            }
            &.inner-column-2 {
                flex: 2;
            }
        }
    }

    .kt-has-2-columns.kt-custom-first-width-10 > .wp-block-kadence-column {
        &.inner-column-1 {
            flex: 0 1 10%;
        }
        &.inner-column-2 {
            flex: 0 1 90%;
        }
    }

    .kt-has-2-columns.kt-custom-first-width-15 > .wp-block-kadence-column {
        &.inner-column-1 {
            flex: 0 1 15%;
        }
        &.inner-column-2 {
            flex: 0 1 85%;
        }
    }

    .kt-has-2-columns.kt-custom-first-width-20 > .wp-block-kadence-column {
        &.inner-column-1 {
            flex: 0 1 20%;
        }
        &.inner-column-2 {
            flex: 0 1 80%;
        }
    }

    .kt-has-2-columns.kt-custom-first-width-25 > .wp-block-kadence-column {
        &.inner-column-1 {
            flex: 0 1 25%;
        }
        &.inner-column-2 {
            flex: 0 1 75%;
        }
    }

    .kt-has-2-columns.kt-custom-first-width-30 > .wp-block-kadence-column {
        &.inner-column-1 {
            flex: 0 1 30%;
        }
        &.inner-column-2 {
            flex: 0 1 70%;
        }
    }

    .kt-has-2-columns.kt-custom-first-width-35 > .wp-block-kadence-column {
        &.inner-column-1 {
            flex: 0 1 35%;
        }
        &.inner-column-2 {
            flex: 0 1 65%;
        }
    }

    .kt-has-2-columns.kt-custom-first-width-40 > .wp-block-kadence-column {
        &.inner-column-1 {
            flex: 0 1 40%;
        }
        &.inner-column-2 {
            flex: 0 1 60%;
        }
    }

    .kt-has-2-columns.kt-custom-first-width-45 > .wp-block-kadence-column {
        &.inner-column-1 {
            flex: 0 1 45%;
        }
        &.inner-column-2 {
            flex: 0 1 55%;
        }
    }

    .kt-has-2-columns.kt-custom-first-width-50 > .wp-block-kadence-column {
        &.inner-column-1 {
            flex: 1;
        }
        &.inner-column-2 {
            flex: 1;
        }
    }

    .kt-has-2-columns.kt-custom-first-width-55 > .wp-block-kadence-column {
        &.inner-column-1 {
            flex: 0 1 55%;
        }
        &.inner-column-2 {
            flex: 0 1 45%;
        }
    }

    .kt-has-2-columns.kt-custom-first-width-60 > .wp-block-kadence-column {
        &.inner-column-1 {
            flex: 0 1 60%;
        }
        &.inner-column-2 {
            flex: 0 1 40%;
        }
    }

    .kt-has-2-columns.kt-custom-first-width-65 > .wp-block-kadence-column {
        &.inner-column-1 {
            flex: 0 1 65%;
        }
        &.inner-column-2 {
            flex: 0 1 35%;
        }
    }

    .kt-has-2-columns.kt-custom-first-width-70 > .wp-block-kadence-column {
        &.inner-column-1 {
            flex: 0 1 70%;
        }
        &.inner-column-2 {
            flex: 0 1 30%;
        }
    }

    .kt-has-2-columns.kt-custom-first-width-75 > .wp-block-kadence-column {
        &.inner-column-1 {
            flex: 0 1 75%;
        }
        &.inner-column-2 {
            flex: 0 1 25%;
        }
    }

    .kt-has-2-columns.kt-custom-first-width-80 > .wp-block-kadence-column {
        &.inner-column-1 {
            flex: 0 1 80%;
        }
        &.inner-column-2 {
            flex: 0 1 20%;
        }
    }

    .kt-has-2-columns.kt-custom-first-width-85 > .wp-block-kadence-column {
        &.inner-column-1 {
            flex: 0 1 85%;
        }
        &.inner-column-2 {
            flex: 0 1 15%;
        }
    }

    .kt-has-2-columns.kt-custom-first-width-90 > .wp-block-kadence-column {
        &.inner-column-1 {
            flex: 0 1 90%;
        }
        &.inner-column-2 {
            flex: 0 1 10%;
        }
    }

    // Three columns
    .kt-row-layout-left-half {
        > .wp-block-kadence-column {
            flex: 1;
            &.inner-column-1 {
                flex: 2;
            }
        }
    }

    .kt-row-layout-right-half {
        > .wp-block-kadence-column {
            flex: 1;
            &.inner-column-3 {
                flex: 2;
            }
        }
    }

    .kt-row-layout-center-half {
        > .wp-block-kadence-column {
            flex: 1;
            &.inner-column-2 {
                flex: 2;
            }
        }
    }

    .kt-row-layout-center-wide {
        > .wp-block-kadence-column {
            flex: 1;
            &.inner-column-2 {
                flex: 3;
            }
        }
    }

    .kt-row-layout-center-exwide {
        > .wp-block-kadence-column {
            flex: 1;
            &.inner-column-2 {
                flex: 6;
            }
        }
    }

    .kt-row-layout-left-forty {
        > .wp-block-kadence-column {
            flex: 1;
            &.inner-column-1 {
                flex: 2;
            }
        }
    }

    .kt-row-layout-right-forty {
        > .wp-block-kadence-column {
            flex: 1;
            &.inner-column-4 {
                flex: 2;
            }
        }
    }
}
