// Get core assets
@import "_variables";
@import "vendor/magento-ui/_variables"; // Magento UI
@import "blocks/_variables";

// @enable-quote-border: false;
@enable-gutenberg-btn: false;
@container-width: @layout__max-width;
@container-gap: @layout__width-xs-indent;

// Will be a npm pkg later
@import "../Mooore_WordpressIntegrationCms/styles/_module";
