// Styles for when using the full width layout

$layout__max-width: 1280px !default;
$layout-indent__width: 20px !default;
$layout__width-xs-indent: 15px !default;
$screen__m: 768px !default;

.entry-header,
.entry-meta,
.entry-content {
    box-sizing: border-box;

    *,
    ::before,
    ::after {
        box-sizing: inherit;
    }
}

:root {
    --layout-indent: #{($layout__width-xs-indent * 2)};
    --layout-max-width: min(
        calc(100vw - var(--layout-indent)),
        calc(#{$layout__max-width} - var(--layout-indent))
    );

    @media (min-width: $screen__m) {
        --layout-indent: #{($layout-indent__width * 2)};
    }
}

%wp-container {
    max-width: var(--layout-max-width);
    margin-right: auto;
    margin-left: auto;
}

.entry-content .wp-audio-shortcode {
    @extend %wp-container;
}

.entry-content {
    > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce) {
        @extend %wp-container;
    }
}

*[class*="inner-container"] {
    > *:not(.entry-content):not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce) {
        @extend %wp-container;
    }
}
