.has-primary-background-color {
    background-color: $color-theme;
    color: $color-on-theme;
}

.has-accent-background-color {
    background-color: $color-accent;
    color: $color-on-accent;
}

.has-very-light-gray-color {
    color: $color-gray90;
}

.has-very-light-gray-background-color {
    background-color: $color-gray90;
}

.has-very-dark-gray-color {
    color: $color-gray34;
}

.has-very-dark-gray-background-color {
    background-color: $color-gray34;
}

