// Magento default
$font-size__base: 1rem !default;
$color-orange-red1: #ff5501 !default;
$layout__max-width: 1280px !default;
$layout__width-xs-indent: 0.9375rem !default;
$layout-indent__width: $layout__width-xs-indent !default;
$primary__color: #424242 !default;
$blockquote__border-color: #eee !default;
$blockquote-small__color: #777 !default;
$blockquote-small__font-size: 0.875em !default;
$color-black: black !default;
$color-white: white !default;
$color-gray37: #eee !default;
$color-gray43: #ddd !default;
$color-gray56: #ccc !default;
$color-gray95: #777 !default;
$indent__s: 0.675em !default;
$indent__base: 1em !default;
$indent__l: 1.25em !default;
$screen__xxs: 320px !default;
$screen__xs: 480px !default;
$screen__s: 640px !default;
$screen__m: 768px !default;
$screen__l: 1024px !default;
$screen__xl: 1440px !default;

@mixin lib-button() {
    @apply btn btn-primary;
}

@mixin lib-button-primary() {
    @apply btn btn-primary;
}

@mixin lib-visually-hidden() {
    @apply sr-only;
}

@import "helpers/mq-helper";

// Load the normal module while having the correct values
@import "module";
