$enable-wp-btn-primary: true !default;
$wp-btn-transition: border-color 0.15s linear, background-color 0.15s linear,
    color 0.15s linear !default;
$wp-btn-outline-color: $primary__color !default;

%wp-btn {
    @include lib-button();

    @if $enable-wp-btn-primary {
        @include lib-button-primary();
    }
}

%wp-btn-outline {
    border: 2px solid;
    background-color: transparent;
    color: $wp-btn-outline-color;
}

.wp-block-button,
.wp-block-file {
    @extend %wp-text-alignment;
}

.wp-block-button__link,
.wp-block-file__button {
    @extend %wp-btn;
    transition: $wp-btn-transition;

    &.is-style-outline {
        @extend %wp-btn-outline;
    }
}

.wp-block-button__link {
    &.no-border-radius,
    &.is-style-squared {
        border-radius: 0;
    }
}

.wp-block-buttons & {
    .wp-block-button {
        margin-right: $indent__s;
        margin-bottom: $indent__s;
    }

    &.alignright .wp-block-button {
        margin-right: 0;
        margin-left: $indent__s;
    }

    &.aligncenter {
        text-align: center;
    }
}

.wp-block-file {
    @extend %wp-btn-alignment;
    margin-bottom: $indent__base;
}

* + .wp-block-file__button {
    margin-left: $indent__s;
}
