$enable-wp-btn-primary: true !default;
$wp-btn-transition: border-color 0.15s linear, background-color 0.15s linear,
    color 0.15s linear !default;

$wp-btn-radius: 0;
$wp-btn-outline-border: 1px solid !default;
$wp-btn-outline-color: $primary__color !default;

%lib-wp-button {
    @include lib-button();
    border-radius: $wp-btn-radius;
    text-decoration: none;
    transition: $wp-btn-transition;

    @if $enable-wp-btn-primary {
        @include lib-button-primary();
    }

    &:focus,
    &:hover {
        text-decoration: none;
    }
}

// Fallback for older versions
%lib-wp-btn {
    @extend %lib-wp-button;
}

.wp-block-button > .wp-block-button__link {
    @extend %lib-wp-button;
}

.wp-block-button.is-style-outline > .wp-block-button__link,
.wp-block-button .wp-block-button__link.is-style-outline {
    border: $wp-btn-outline-border;
    background-color: transparent;
    color: $wp-btn-outline-color;
}

.wp-block-file > .wp-block-file__button {
    @extend %lib-wp-button;
}
