.has-primary-background-color {
    background-color: $color-theme;
    color: $color-on-theme;
}

.has-accent-background-color {
    background-color: $color-accent;
    color: $color-on-accent;
}

.has-very-light-gray-color {
    color: $color-gray90;
}

.has-very-light-gray-background-color {
    background-color: $color-gray90;
}

.has-very-dark-gray-color {
    color: $color-gray34;
}

.has-very-dark-gray-background-color {
    background-color: $color-gray34;
}

// Font sizes.
.has-small-font-size {
    font-size: 13px;
}

.has-regular-font-size, // Not used now, kept because of backward compatibility.
.has-normal-font-size {
    font-size: 16px;
}

.has-medium-font-size {
    font-size: 20px;
}

.has-large-font-size {
    font-size: 36px;
}

.has-larger-font-size, // Not used now, kept because of backward compatibility.
.has-huge-font-size {
    font-size: 42px;
}

// Text alignments.
.has-text-align-center {
    text-align: center;
}

.has-text-align-left {
    text-align: left;
}

.has-text-align-right {
    text-align: right;
}

// Block alignments.
.aligncenter {
    clear: both;
}
