.wp-block-separator {
    border: none;
    border-bottom: 2px solid $color-gray56;
    margin-left: auto;
    margin-right: auto;

    // Default, thin style
    &:not(.is-style-wide):not(.is-style-dots) {
        max-width: 100px;
    }

    &.has-background:not(.is-style-dots) {
        border-bottom: none;
        height: 1px;
    }

    &.has-background:not(.is-style-wide):not(.is-style-dots) {
        height: 2px;
    }

    // Wide style
    &.is-style-wide {
        border-bottom-width: 1px;
    }

    // Dots style
    &.is-style-dots {
        // Override any background themes often set on the hr tag for this style.
        // also override the color set in the editor since it's intented for normal HR
        background: none !important;
        border: none;
        text-align: center;
        max-width: none;
        line-height: 1;
        height: auto;

        &::before {
            content: "\00b7 \00b7 \00b7";
            color: currentColor;
            font-size: 20px;
            letter-spacing: 2em;
            padding-left: 2em;
            font-family: serif;
        }
    }
}
