.wp-block-spacer {
    clear: both;
}

@if $enable-kt-blocks {
    .kt-block-spacer {
        position: relative;
        height: 60px;
    }

    .kt-block-spacer .kt-divider {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        border-top: solid 1px #eee;
        transform: perspective(1px) translate(-50%, -50%);
    }

    .kt-block-spacer.kt-block-spacer-halign-left .kt-divider {
        left: 0;
        transform: perspective(1px) translate(0%, -50%);
    }

    .kt-block-spacer.kt-block-spacer-halign-right .kt-divider {
        right: 0;
        left: auto;
        transform: perspective(1px) translate(0%, -50%);
    }
}
