.kt-accodion-icon-style-arrow, .kt-accodion-icon-style-arrowcircle {
	.kt-blocks-accordion-header.kt-accordion-panel-active {
		.kt-blocks-accordion-icon-trigger:before {
			transform: rotate(-45deg);
		}
		.kt-blocks-accordion-icon-trigger:after {
			transform: rotate(45deg);
		}
	}
	.kt-blocks-accordion-icon-trigger:after, .kt-blocks-accordion-icon-trigger:before {
		content: "";
		height: 2px;
		position: absolute;
		top: 11px;
		transition: all ease-in-out 0.1333333333s;
		width: 12px;
	}
	.kt-blocks-accordion-icon-trigger:before {
		left: 2px;
		transform: rotate(45deg);
		transform-origin: 50%;
	}
	.kt-blocks-accordion-icon-trigger:after {
		transform: rotate(-45deg);
		right: 2px;
		transform-origin: 50%;
	}
}
