.kt-accodion-icon-style-arrowcircle {
	.kt-blocks-accordion-icon-trigger {
		background-color: #333;
		border-radius: 50%;
	}
	.kt-blocks-accordion-icon-trigger:after, .kt-blocks-accordion-icon-trigger:before {
		background-color: #fff;
		width: 10px;
	}
	.kt-blocks-accordion-icon-trigger:before {
		left: 4px;
	}
	.kt-blocks-accordion-icon-trigger:after {
		right: 4px;
	}
}
.kt-accordion-header-wrap {
    margin-top: 8px;
}
.kt-accordion-inner-wrap .wp-block-kadence-pane:first-child .kt-accordion-header-wrap {
    margin-top: 0px;
}
.kt-accordion-panel-inner {
    padding: 20px;
    border: 1px solid #eee;
    border-top: 0;
}
.kt-accordion-panel {
	overflow: auto;
	display:block;
    &.kt-accordion-panel-hidden {
		max-height: 0 !important;
		overflow: hidden;
		display:none;
    }
}
.kt-accordion-initialized .kt-panel-is-collapsing, .kt-accordion-initialized .kt-panel-is-expanding {
	transition: height 0.45s ease;
	position: relative;
    height: 0;
    overflow: hidden;
}

