.kt-accordion-wrap .kt-accordion-header-wrap {
	margin:0;
	padding:0;
}
.kt-blocks-accordion-header {
    align-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
	border: 0 solid transparent;
    border-radius: 0px;
    color: #555555;
	display: flex;
	font-size: 18px;
	padding: 10px 14px;
	position: relative;
	line-height: 24px;
    text-align: left;
    transition: all ease-in-out .2s;
	width: 100%;
	box-shadow: none;
    text-shadow: none;
}
.kt-blocks-accordion-header:focus {
	box-shadow: none;
	text-shadow: none;
}
.kt-blocks-accordion-header:hover {
    background-color: #eeeeee;
	color: #444444;
	box-shadow: none;
    text-shadow: none;
	.kt-blocks-accordion-icon-trigger:after, .kt-blocks-accordion-icon-trigger:before {
		background-color: #444444;
	}
}
.kt-blocks-accordion-header.kt-accordion-panel-active {
    background-color: #444444;
	color: #ffffff;
	.kt-blocks-accordion-icon-trigger:after, .kt-blocks-accordion-icon-trigger:before {
		background-color: #ffffff;
	}
}
.kt-accodion-icon-style-basiccircle .kt-blocks-accordion-header:hover, .kt-accodion-icon-style-xclosecircle .kt-blocks-accordion-header:hover, .kt-accodion-icon-style-arrowcircle .kt-blocks-accordion-header:hover {
	.kt-blocks-accordion-icon-trigger {
		background-color: #444444;
	}
	.kt-blocks-accordion-icon-trigger:after, .kt-blocks-accordion-icon-trigger:before {
		background-color: #eeeeee;
	}
}
.kt-accodion-icon-style-basiccircle .kt-blocks-accordion-header.kt-accordion-panel-active, .kt-accodion-icon-style-xclosecircle .kt-blocks-accordion-header.kt-accordion-panel-active, .kt-accodion-icon-style-arrowcircle .kt-blocks-accordion-header.kt-accordion-panel-active {
	.kt-blocks-accordion-icon-trigger {
		background-color: #ffffff;
	}
	.kt-blocks-accordion-icon-trigger:after, .kt-blocks-accordion-icon-trigger:before {
		background-color: #444444;
	}
}
.kt-blocks-accordion-title-wrap {
	display: flex;
	padding-right: 10px;
}
.kt-accodion-icon-side-left .kt-blocks-accordion-title-wrap {
	padding-right: 0px;
}
.kt-pane-header-alignment-center button.kt-blocks-accordion-header {
    text-align: center;
}
.kt-pane-header-alignment-center button.kt-blocks-accordion-header .kt-blocks-accordion-title-wrap {
	flex-grow: 2;
	justify-content: center;
}
.kt-pane-header-alignment-right button.kt-blocks-accordion-header {
    text-align: right;
}
.kt-pane-header-alignment-right button.kt-blocks-accordion-header .kt-blocks-accordion-title-wrap {
	flex-grow: 2;
	justify-content: flex-end;
}
.kt-pane-header-alignment-right button.kt-blocks-accordion-header .kt-blocks-accordion-icon-trigger {
	margin-left:10px;
}
.kt-acccordion-button-label-hide .kt-blocks-accordion-title {
    display: none;
}
.kt-accordion-panel-inner:after {
    clear: both;
    display: table;
    content: '';
}
