.kt-accodion-icon-style-none .kt-blocks-accordion-icon-trigger {
	display:none;
}
.kt-accodion-icon-side-left .kt-blocks-accordion-icon-trigger {
    order: -1;
    margin-left: 0;
    margin-right:10px;
}
.kt-blocks-accordion-icon-trigger {
    display: block;
    height: 24px;
    margin-left: auto;
    position: relative;
    transition: all ease-in-out 0.2s;
	width: 24px;
	min-width: 24px;
    box-sizing: content-box;
}
.kt-blocks-accordion-icon-trigger:after, .kt-blocks-accordion-icon-trigger:before {
	background-color: #333;
}
